.button
{
    border-radius: 12px;
    background-color:white;
    border: 3px solid #ededed;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#button2col
{
    border-radius: 12px;
    width: 165px;
    background-color:white;
    border: 3px solid #ededed;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#small
{
    padding: 15px 35px
}
#mid
{
    padding: 15px 34px
}
.button:hover {
    background-color: #e8f0ff;
    color: white;
}
#button2col:hover {
    background-color: #e8f0ff;
    color: white;
}
#screen {
    width:280px;
    background-color:white;
    border: 3px solid #ededed;
    color: black;
    padding:25px;
    text-align: right;
    text-decoration: none;
    font-size: 36px;
}